$yellow-bac: yellow,
;
$gray-bac: gray;
$blue-bac: blue;
$skyblue-bac: skyblue;
$orange-bac: orange;






.a {

    background-color: $gray-bac;
}

.s {
    background-color: $blue-bac;
}

.d {
    background-color: $skyblue-bac;
}

.f {
    background-color: $yellow-bac;

}

.g {
    background-color: $yellow-bac;

}

.h {
    background-color: $yellow-bac;

}

.j {
    background-color: $skyblue-bac;
}

.k {
    background-color: $blue-bac;
}

.l {
    background-color: $orange-bac;
}

.z {
    background-color: $orange-bac;
}

.x {
    background-color: $orange-bac;
}

.c {
    background-color: $orange-bac;
}

.v {

    background-color: $gray-bac;
}